/* Reset some default styles */
body, h1, h2, h3, p {
 margin: 0;
 padding: 0;
}

        /* Custom Styles */
        body {
         font-family: 'Roboto Slab', serif;
         background-color: #f7f7f7;
         color: #333;
         line-height: 1.6;
     }

     /* Navbar Styles */
     .navbar {
         background-color: #ffffff;
         border-bottom: 1px solid #ddd;
         padding: 10px 0;
     }

     .navbar-brand {
         display: flex;
         align-items: center;
         font-weight: bold;
         color: #007bff; /* Warna biru */
         font-size: 24px;
     }

     .logo {
         margin-right: 10px;
     }

     .navbar-t oggler-icon {
         background-color: #ffffff;
     }

     .navbar-nav .nav-link {
         color: #333;
         margin-right: 20px;
         font-size: 18px;
         transition: color 0.3s;
     }

     .navbar-nav .nav-link:hover {
         color: #007bff;
     }

     /* Hero Section Styles */
     .hero {
         background-image: url('your-hero-background-image.jpg');
         background-size: cover;
         background-position: center;
         color: #fff;
         padding: 100px 0;
         text-align: center;
     }

     .title-page {
         font-family: 'Kanit', sans-serif; /* Mengganti font */
         font-size: 3rem;
         font-weight: bold;
         margin-bottom: 20px;
     }

     .hero p {
         font-size: 1.2rem;
     }

     .btn-primary {
         background-color: #007bff;
         border: none;
         font-weight: bold;
         padding: 10px 20px;
         font-size: 18px;
         margin-top: 20px;
         color: #fff;
         text-decoration: none;
         transition: background-color 0.3s;
     }

     .btn-primary:hover {
         background-color: #0056b3;
     }

     /* Menu Section Styles */
     .menu {
         text-align: center;
         margin: 50px 0;
         font-size: 2rem;
         font-weight: bold;
         color: #007bff; /* Warna biru */
     }

     /* Card Styles */
     .cardcontent {
         padding: 50px 0;
     }

     .card {
         border: none;
         transition: transform 0.3s;
     }

     .card:hover {
         transform: translateY(-10px);
         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     }

     .card-img-top {
         max-height: 200px;
         object-fit: cover;
     }

     .card-text {
         font-size: 1rem;
         color: #666;
     }

     /* Moment Section Styles */
     .gambarMoment {
         text-align: center;
         margin: 50px 0;
     }

     .momentum img {
         max-width: 100%;
         height: auto;
         margin: 10px;
         border: 2px solid #007bff;
         border-radius: 10px;
         transition: transform 0.3s;
     }

     .momentum img:hover {
         transform: scale(1.05);
     }

     /* Contact Section Styles */
     .contact-icon {
         text-align: center;
         margin: 50px 0;
     }

     .gambar {
         font-size: 2rem;
         margin: 0 10px;
         color: #007bff;
         transition: color 0.3s;
     }

     .gambar:hover {
         color: #0056b3;
     }

     footer ul {
         list-style: none;
         padding: 0;
     }

     footer ul li {
         display: inline;
         margin-right: 20px;
         font-size: 16px;
     }

     /* Responsive Styles */
     @media (max-width: 768px) {
         .title-page {
             font-size: 2rem;
         }

         .menu {
             font-size: 1.5rem;
         }

         .navbar-brand {
             font-size: 20px;
         }

         .btn-primary {
             font-size: 16px;
         }

         footer ul li {
             font-size: 14px;
         }
     }
